img {
  aspect-ratio: 16/9;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
.nav-img {
  margin-right: 20px;
}

.bookmark-img {
  float: right;
  width: 10%;
}

.bookmarks-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
